<div class="overlay">
    <div class="modal">
      <div class="modal-header">
        <p class="titulo">Sistema EscolaABC</p>
        <p class="subtitulo">Acesso restrito aos funcionários</p>
      </div>
      <div class="container">
        <div class="input-group">
          <label for="email">Usuário:</label>
          <input type="text" id="nome" placeholder="Digite seu usuário"/>
        </div>

        <div class="input-group">
          <label for="senha">Senha:</label>
          <input type="password" id="senha" placeholder="*********"/>
        </div>
      </div>
      <div class="footer">
        <button class="botao-entrar">
          Entrar
        </button>
      </div>
    </div>
</div>
