.overlay {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

.modal {
    width: 400px;
    background-color: white;
    border-radius: 10px;

    padding: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.modal-header {
    text-align: center;
}

.titulo {
    font-size: 22px;
    font-weight: 700;
}

.subtitulo {
    font-size: 14px;
    color: #666;
    font-weight: var(--font-medium);
}

.container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.input-group {
    width: 100%;
    max-width: 300px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;

    outline: none;
    transition: 0.2s;
}

input:focus {
    border-color: #0072ff;
    box-shadow: 0 0 0 3px rgba(0, 114, 255, 0.2);
}

label{
    font-family: var(--font-extrabold);
    font-size: 0.9rem;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.botao-entrar {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 10px 20px;
    border: none;
    border-radius: 6px;

    background-color: #0072ff;
    color: white;

    font-weight: 600;
    cursor: pointer;

    transition: 0.2s;
}

.botao-entrar:hover {
    background-color: #005ad1;
}