<div class="corpo p-4">
    <h1 class="titulo m-0 pb-1">Bem-vindo ao EscolaABC</h1>
    <p class="subtitulo m-0">Visão geral do sistema acadêmico</p>
    <div class="cards d-flex gap-3 pt-4 justify-content-between">
        <app-card [totalRelatorio]="totalAlunos" [label]="'Ver aluno ->'" [titulo]="'Total de Alunos'" [rota]="'alunos'"/>
        <app-card [totalRelatorio]="totalProfessores" [label]="'Ver professores ->'" [titulo]="'Total de Professores'" [rota]="'professores'"/>
        <app-card [totalRelatorio]="totalTurmas" [label]="'Ver turmas ->'" [titulo]="'Total de Turmas'" />
    </div>
    <h2 class="subtitulo pt-4 pb-0">Atalhos</h2>
  <div class="d-flex gap-4 flex-wrap acesso">
    <div class="cadastro">
        <h3 class="sub-subtitulo pt-2 pb-2">Cadastros</h3>
        <div class="links d-flex gap-3">
            <a routerLink="/alunos"      class="atalho">➕ Cadastrar Aluno</a>
            <a routerLink="/professores" class="atalho">🎓 Cadastrar Professor</a>
            <a routerLink="/disciplinas" class="atalho">📚 Cadastrar Disciplina</a>
        </div>
    </div>
    <div class="nota">
        <h3 class="sub-subtitulo pb-2">Notas</h3>
        <a routerLink="/dashboard/notas" class="atalho">📝 Lançar Notas</a>
    </div>
    <div class="relatorio">
        <h3 class="sub-subtitulo pb-2">Relatórios</h3>
        <div class="links d-flex gap-3">
            <a routerLink="/relatorios"  class="atalho">📊 Situação Geral</a>
            <a routerLink="/relatorios"  class="atalho">📋 Boletim do Aluno</a>
        </div>
    </div>
  </div>
</div>

